<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IJKPlayer_Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3DE235841EE1496500650DF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DE2359A1EE1496600650DF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DE235A51EE1496600650DF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
